html,
body {
  width: 100%;
  scroll-behavior: smooth;
}
.judul h2,
h5 {
  text-align: center;
}

.napi {
  margin-top: 20px;
  size: 12px;
}
.navbar {
  background-color: darkcyan;
}
.navbar {
  size: 120px;
  color: azure;
  text-align: center;
}
.card {
  color: black;
  text-align: center;
  margin: 0px auto;
  transition: 0.3s;
  border-color: darkcyan;
}
.card:hover {
  cursor: pointer;
  filter: drop-shadow(7px 7px 2px darkcyan);
}

.dia {
  transition: 0.3;
  border-color: red;
}
.dia:hover {
  cursor: pointer;
  filter: drop-shadow(9px 9px 2px red);
}
.aku {
  transition: 0.3;
  border-color: rgb(134, 134, 0);
}
.aku:hover {
  cursor: pointer;
  filter: drop-shadow(9px 9px 2px rgb(182, 182, 0));
}
.kamu {
  transition: 0.3;
  border-color: rgb(0, 189, 0);
}
.kamu:hover {
  filter: drop-shadow(9px 9px 2px rgb(4, 255, 4));
}
hr {
  border-color: blue;
}

.nya {
  filter: drop-shadow(2px 2px 1px darkcyan);
}
.nyaa {
  filter: drop-shadow(1px 1px 1px darkcyan);
}

.gambar {
  text-align: center;
}
.codingku h5 {
  margin: 0px auto;
  text-align: center;
}
.kam {
  text-align: center;
  margin: 0px auto;
}

.java h6 {
  text-align: center;
  margin: 0px auto;
}
.insos {
  text-align: center;
  margin: 0px auto;
}
.jumbotron {
  background-image: url(img/Ai.png);
  background-attachment: fixed;
  background-position: center;
}

.kami {
  border: 1px solid blue;
  color: blue;
}
.kami:hover {
  background-color: purple;
  color: white;
}
.geser {
  background-color: black;
}

.torang:hover {
  filter: drop-shadow(9px 9px 5px purple);
}
.robot {
  border-radius: 20px;
  margin: 0px auto;
}

/* ini bagian Class Dom Manipulai */
.warnaku {
  background-color: black;
  color: aliceblue;
}
.uni {
  background-color: white;
}
.White-Mode {
  color: black;
}
/* Akhir manipulasi */
