html,
body {
  width: 100%;
  scroll-behavior: smooth;
}
.judul h2,
h5 {
  text-align: center;
}

.napi {
  margin-top: 20px;
  size: 12px;
}
.navbar {
  background-color: darkcyan;
}
.navbar {
  size: 120px;
  color: azure;
  text-align: center;
}
.card {
  text-align: center;
  margin: 0px auto;
  transition: 0.3s;
  border-color: darkcyan;
}
.card:hover {
  cursor: pointer;
  filter: drop-shadow(7px 7px 2px darkcyan);
}

.dia {
  transition: 0.3s;
  border-color: red;
}
.dia:hover {
  cursor: pointer;
  filter: drop-shadow(9px 9px 2px red);
}
.aku {
  transition: 0.3s;
  border-color: rgb(134, 134, 0);
}
.aku:hover {
  cursor: pointer;
  filter: drop-shadow(9px 9px 2px rgb(182, 182, 0));
}
hr {
  border-color: blue;
}
.kamu {
  transition: 0.3s;
  border-color: green;
}
.kamu:hover {
  cursor: pointer;
  filter: drop-shadow(9px 9px 2px green);
}
hr {
  border-color: blue;
}
.nya {
  filter: drop-shadow(2px 2px 1px darkcyan);
}
.nyaa {
  filter: drop-shadow(1px 1px 1px darkcyan);
}

.gambar {
  text-align: center;
}
.codingku h5 {
  margin: 0px auto;
  text-align: center;
}
.kam {
  text-align: center;
  margin: 0px auto;
}
.kamu:hover {
  filter: drop-shadow(5px 5px 5px darkcyan);
}
.java h6 {
  text-align: center;
  margin: 0px auto;
}
.insos {
  text-align: center;
  margin: 0px auto;
}
.jumbotron {
  background-attachment: fixed;
  background-position: center;
}
